/* Theme for Bonny: corner-blue */
/*------------------------------------------------*/
body,
body.roomy {
  color: #001833;
  background: #c6d9ef url("../images/corner_blue1.jpg") fixed no-repeat;
}

#wikileft, #wikibody, #wikiright {
  background: transparent;
}

body.snug #wikimid,
body.roomy #wikimid {
  border-color: transparent;
}

#wikititle,
#wikitext {
  color: #001033;
  background: #bacaec url("../images/corner_blue1a.jpg") fixed no-repeat;
}

/*------------------------------------------------*/
/* links etc */
a:link {
  color: #003366;
  background: transparent;
}

a:visited {
  color: #330066;
  background: transparent;
}

.sidebar .indent ul, .sidebar ul ul,
.sidebar dl ul {
  list-style-image: url(../images/bent_arrow.png);
}

#menubar a, #menubar b {
  border-color: #555588;
  background: #9999ff;
}

#menubar li {
  border-color: #555588;
}

.wikicmds a {
  border-color: #555588;
}

#breadcrumb b.selflink,
#wikileft b.selflink,
#wikiright b.selflink,
#wikibody b.selflink {
  color: #555588;
}

#menubar b.selflink,
#menubar .current a {
  background: transparent;
  color: #000033;
}

/* ------------------------------------------------------------------ */
/* Fonts */
h1, h2, h3, h4 {
  font-family: merlin, hancock, black, barcool, "lucida calligraphy", Merced, sans-serif;
}
